@charset "utf-8";

/* Header */


/* Main */


/* .card-container {
  width: 100%;
  padding: 50px;
} */

/* Card */
/* .card {
  width: 30%;
  padding: 30px;
} */

/* .card img {
  max-width: 300px;
} */

/* Sell */
#Sell {
  padding: 100px;
}

/* Resister */
#Resister {
  padding: 100px;
}

/* Info */
#Info {
  padding: 100px;
}