@charset "utf-8";

/* Header */
.header-nav a {
  padding: 8px;
}

/* Main */
.main-wrapper {
  max-width: 1500px;
}

.card-container {
  width: 100%;
  padding: 50px;
}

/* Card */
.card {
  width: 30%;
  padding: 30px;
}

.card img {
  max-width: 300px;
}
